<div>
    <h2 ng-show="is_loading">Carregando...</h2>
    <h1>Mapa Unidades</h1>

    <ul style="float: left; margin-right: 5px; list-style-type: none">    
        <li style="width: 20px" ng-repeat="unit in units">
            <span>{{unit.room}}: </span>
        </li>
    </ul>

    <div style="float: left; margin-right: 5px;" ng-repeat="unit in units_bookeds_days_map">
        <ul dnd-list dnd-drop="OnDrop(unit, item, index)">
            <li style="float: left; margin-right: 5px; list-style-type: none" ng-repeat="item in unit.days"
                dnd-draggable="GetSelectedItemsIncluding(unit, item, $index)"
                dnd-dragstart="OnDragstart(unit, event)"
                dnd-moved="OnMoved(unit)"
                dnd-dragend="unit.dragging = false"
                dnd-selected="OnSelectItem(unit, item, $index)"
                ng-class="{'selected': item.selected}"
                ng-hide="unit.dragging && item.selected"
                dnd-disable-if="IsForbiddenDayToMove(item)"
                >

                <span ng-if="item.book_moorning && !item.book_afternoon" style="color: blue">{{item.num | date:'dd'}}</span>
                <span ng-if="!item.book_moorning && item.book_afternoon" style="color: orange">{{item.num | date:'dd'}}</span>
                <span ng-if="item.book_moorning && item.book_afternoon" style="color: green">{{item.num | date:'dd'}}</span>
                <span ng-if="!item.book_moorning && !item.book_afternoon" style="color: black">{{item.num | date:'dd'}}</span>
                
            </li>
        </ul>                    
    </div>
</div>