<!--<h4 ng-show="is_loading">Carregando...</h4>-->
<div><b>{{day_name}}</b></div>
<div><span>{{day | date:'dd'}}</span></div>

<div><span>{{total_vacancy}}</span></div>

<div ng-repeat="unit_type in units_type">    
    <span>{{unit_type.vacancy_quantities}}</span>
</div>

