<div>
    <h2 ng-show="is_loading">Carregando...</h2>
    <h1>Unidades Vagas</h1>

    <div style="float: left">    
        <div></div>
        <br />
        <br />
        <span>Total: </span>
        <div style="width: 20px" ng-repeat="unit_type in units_type">
            <span>{{unit_type.name}}: </span>
        </div>
    </div>

    <vancancyunitsday style="float: left; margin: 0 5px 0 5px" ng-repeat="day in days" day="day" unitstype="units_type"></vancancyunitsday>             
    
</div>